$bgColor: #fffdf1;
$primaryColor: #dda15e;
$secondaryColor: #fad8b1;
$textColor: #283618;

.p-container {
  width: 100%;
  height: 70svh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fad8b1;
  position: relative;

  .wrapper {
    width: 90%;
    height: min-content;

    .available {
      h2 {
        height: 20px;
        margin-top: 50px;
        font-size: 16px;
        font-weight: 600;
      }

      .marketplace {
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .tokped {
          width: 219px;
          height: 49px;
        }
        .shopee {
          width: 217px;
          height: 58px;
        }
        .bukalapak {
          display: flex;
          flex-direction: row;
          gap: 10px;
          width: 215px;
          height: 38px;
        }
        .lazada {
          width: 216px;
          height: 65px;
        }
      }
    }
  }
  .wavep {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .wavep svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 250px;
  }

  .wavep .shape-fill {
    fill: #ffffff;
  }
}

@media screen and (max-width: 912px) {
  .p-container {
    height: max-content;
    .wrapper {
      .available {
        h2 {
          text-align: center;
          font-size: 14px;
        }
        .marketplace {
          display: flex;
          gap: 5px;
          .tokped {
            height: 15px;
            width: max-content;
          }
          .shopee {
            height: 25px;
            width: max-content;
          }
          .bukalapak {
            width: max-content;
            display: flex;
            flex-direction: row;
            gap: 2px;
            height: 15px;
          }
          .lazada {
            width: max-content;
            height: 25px;
          }
        }
      }
    }
  }
}
